<template>
  <div class="main">
    <div class="um">
      <img src="../assets/logo.png" alt="Logo" class="logo" />
      <span class="title">Site Under Maintenance</span>
      <p class="desc">
        Our site is currently under maintenance. We are trying our best to get
        back online for you.<br /><br />
        We appologie for the inconvinience and thank you for your understanding.
        <br /><br />
        Please feel free to react us out by email or on WhatsApp.
      </p>

      <div class="details">
        <div class="detail">
          <span class="key">Email</span>
          <span class="val">info@nxgenlabs.com.pk</span>
        </div>
        <div class="detail">
          <span class="key">WhatsApp</span>
          <span class="val">+92 03 111 555 586</span>
        </div>
      </div>
    </div>
    <img src="../assets/under_construction.svg" class="bg" />
  </div>
</template>

<script>
name: "UM";
</script>

<style lang="scss" scoped>
.main {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom left,
    var(--clr-ylw-trans),
    white,
    white
  );

  .bg {
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .um {
    width: 38vw;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 10rem;

    .logo {
      width: 26vw;
      position: absolute;
      left: 16rem;
      top: 24rem;
    }

    .title {
      font-size: 3rem;
      font-family: "P-400", sans-serif;
      margin-top: 5rem;
      color: gray;
      width: 100%;
    }

    .desc {
      font-size: 2rem;
      font-family: "P-100", sans-serif;
      margin-top: 2rem;
      width: 100%;
    }

    .details {
      margin-top: 4rem;
      width: 100%;
      display: flex;
      flex-direction: column;

      .detail {
        width: 100%;
        height: 6rem;
        border-bottom: 0.1rem solid rgba(211, 211, 211, 0.651);
        display: flex;
        align-items: center;

        .key {
          font-size: 1.4rem;
          font-family: "P-600", sans-serif;
          text-transform: uppercase;
          color: var(--clr-ylw);
        }

        .val {
          font-size: 1.6rem;
          font-family: "P-300", sans-serif;
          margin-left: auto;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .main {
    overflow-y: scroll;
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;

    .bg {
      width: 100%;
      position: relative !important;
    }

    .um {
      padding: 2rem;
      width: 100%;

      .logo {
        width: 80%;
        position: relative !important;
        left: 0;
        top: 2rem;
      }

      .title {
        font-size: 2.4rem;
        font-family: "P-600", sans-serif;
      }

      .desc {
        font-size: 1.4rem;
        font-family: "P-200", sans-serif;
      }

      .details {
        margin-top: 4rem;
        margin-bottom: 4rem;

        .detail {
          .key {
            font-size: 1.4rem;
            font-family: "P-600", sans-serif;
          }

          .val {
            font-size: 1.4rem;
            font-family: "P-400", sans-serif;
          }
        }
      }
    }
  }
}
</style>